<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Simple Table</h4>
                        <p class="card-category"> Here is a subtitle for this table</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th *ngFor="let column of columnHeader;">
                                        {{column}}
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let row of rowData;">
                                        <td>
                                            {{row.firstname}}
                                        </td>
                                        <td>
                                            {{row.lastname}}
                                        </td>
                                        <td>
                                            {{row.course}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Upload File</h4>
                        <p class="card-category"> Please upload .csv file here</p>
                    </div>

                    <div class="card-body text-center">
                        <input type="file" (change)="onFileSelected($event)" accept=".csv">
                        <button (click)="uploadFile()">Upload CSV</button>
                    </div>
                </div>
            </div>
        </div>
    </div>