<div class="main-content">
    <div class="container-fluid">
        
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Upload File</h4>
                        <p class="card-category"> Please upload .csv file here</p>
                    </div>

                    <div class="card-body text-center">
                        <div *ngIf="!isLoading">
                            <input type="file" (change)="onFileSelected($event)" accept=".csv">
                            <button (click)="uploadFile()">Upload CSV</button>
                        </div>

                        <div *ngIf="isLoading">
                            Loading...
                        </div>

                    </div>
                </div>
            </div>
        </div>
        
        
        <div *ngIf="!isLoading && dataReceived">
            <!-- Sentiment Overview -->
            <div class="row">
                <div class="col-6">
                    <div class="combined-cards-container" style="display: flex; flex-direction: column; height: 700px;">   
                        <!-- Sentiment Number Card -->
                        <div class="card card-stats" style="height: 100px;">
                            <div class="card-header card-header-warning card-header-icon">
                                <div class="card-icon">
                                    <i class="material-icons">content_copy</i>
                                </div>
                                <p class="card-category">Number of Customer Feedback</p>
                                <h3 class="card-title">{{totalSize}}</h3>
                            </div>
                        </div>
    
                        <!-- Sentiment Doughnut Chart -->
                        <div class="card card-chart" style="height: 450px;">
                            <div id="doughnutChart" style="width: 100%; height: 100%;"></div>
                        </div>
                    </div>
                </div>
    
                <div class="col-6">
                    <!-- Sentiment Line Chart -->
                    <div class="card card-chart" style="height: 600px;">
                        <div id="lineChart" style="width: 100%; height: 100%;"></div>
                    </div>
                </div>
            </div>
            
            <!-- Feedback Overview -->
            <!-- Feedback Table -->
            <div *ngIf="!isLoading" class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title ">Feedback Overview</h4>
                            <p class="card-category"> An overview of feedback sentiments</p>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class=" text-primary">
                                        <th *ngFor="let column of columnHeader;">
                                            {{column}}
                                        </th>
                                    </thead>
                                    <tbody *ngIf="sentimentTableData.length > 0">
                                        
                                        <tr *ngFor="let row of sentimentTableData;">
                                            <td>
                                                {{row.cleanText}}
                                            </td>
                                            <td>
                                                {{row.sentiment}}
                                            </td>
                                        </tr>   
                                        
                                    </tbody>

                                    <tbody *ngIf="sentimentTableData.length == 0">
                                        <tr>
                                            <td>
                                                NO DATA
                                            </td>
                                            <td>
                                                NO DATA
                                            </td>
                                        </tr> 
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Feedback Top 10 Positive Word Cloud -->
            <!-- Feedback Top 10 Negative Word Cloud -->

            <!--                 Focus Area Overview                    -->
            <!-- Focus Area Clustered Bar Chart (All sentiment/ Focus Area) -->
            <div *ngIf="!isLoading" class="row">
                <div class="col-6">
                    <div class="card card-chart" style="height: 600px;">
                        <div class="card-body">
                            <div id="columnChart" style="width: 100%; height: 100%;"></div>
                        </div>
                    
                        <div class="card-footer">
                            <div class="stats vertical-stats">
                                <p>Best Performance in {{ bestFocusArea }}</p>
                                <p>Worst Performance in {{ poorFocusArea }}</p>
                            </div>
                        </div>
                        
                        
                    </div> 
        
                </div>
                <!-- <div>
                    <h2>Best Performance Focus Area</h2>
                    <p>{{ bestFocusArea }}</p>
                  
                    <h2>Worst Performance Focus Area</h2>
                    <p>{{ poorFocusArea }}</p>
                </div> -->
            </div>
            <!-- Focus Area Side Bar Chart (Negative sentiment/ Focus Area) -->
            <!-- Focus Area Negative Table (Text (Negative) / Focus Area) -->

        </div>
    </div>